tr {
    font-family: 'Happy Monkey', cursive;
}

.products  {
    
    height: 70vh;
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


a {
    color: inherit;
    text-decoration: none;
}

button {
     
    cursor: pointer;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 50px;
    
}
 
.delete{
     cursor: pointer;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 50px;
}


.edit {
    cursor: pointer;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 50px;
}


.delete:hover {
  background-color:	#cc3300;
  color: black;
}


.edit:hover {
  background-color:	#339900;
  color: black;
}

.add:hover {
    background-color:	#4D6CFA;
  color: black;
}

.table {
    
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

.product {
    position:absolute; left:80px; top:20px; 
    background-color: #336B6B;
}

.order {
   
    position:absolute; left:200px; top:20px; 
    background-color: #DDEEEE;
}

.buttonContainer{
    
    margin: 0 600px 0 600px;
}



.pagination:hover{
    transform: scale(1.125);
    color:white;
    background-color: blue;
}